/****************************************************
 * /css/site.css
 */

/****************************************************
 * css-reset
 */
@CHARSET "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****************************************************
 * css variables?? let's store colors here
 */
@variables {
}

/****************************************************
 * HTML ENTITIES
 */
body {
    background-color:#e8e8e8;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin:0;
}


textarea, input, select, button {
    font-size:11px;
    border:1px solid #888888;
}

label {
    
}

/****************************************************
 * LAYOUT
 */
#body{
    margin:0 auto;
    width: 1200px;
}

/****** BREADCRUMB ******/
#breadcrumb {
    background-color: #484848;
    color: #fffffe;
    font-size: 11px;
    padding:4px 0px 4px 8px;
}
#breadcrumb a{
    color: #ffffff;
    text-decoration: none;
}
#breadcrumb a:hover{
    color: #ffffff;
    text-decoration: underline;
}
#breadcrumb a.selected{
    font-weight: bold;
    text-decoration: underline;
}

/****** NAV ******/
#nav-container {
/*    margin: 0 15px;*/
    padding: 0 14px;
    position: relative;
    z-index: 100;
    background-color: #585858;
}

#nav {
    margin: 0;
    min-height: 30px;
    padding: 0;
    text-align: left;
    width: 1200px;
    
}



#nav li.level-top {
    float: left;
    display: inline;
    position: relative;
    margin: 0px 2px 0px 10px;
    padding: 8px 0px 0px 0px;
}
#nav li.level-top a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    
}
#nav .parent {
    
}
#nav li.level-0 {
    
}
#nav li.level-top ul {
/*	display:none;*/
	left: -10px;
    padding-bottom: 3px;
    position: absolute;
    top: 27px;
    width: 189px;
/*    border-bottom: 1px solid #fff;*/
/*    border-left: 1px solid #fff;*/
/*    border-right: 1px solid #fff;*/
}

#nav li.level-top ul li{
    background-color: #585858;
/*    margin: 0px 2px 0px 10px;*/
    padding: 2px 0px 2px 6px;
/*    border-bottom: 1px dashed #fff;*/
}

#nav li.level-top ul li a{
    font-weight: bold;
}
#nav li.level-top ul li a:hover{
    font-weight: bold;
}



#content {
    /*background-color: #040127;
    color: #EFEEFD;
    height:100%;
    padding:10px 0px 4px 8px;
    height:600px;*/
}

#content div.page-title{
    margin:10px 10px;
    text-align: center;
}
#content div.page-title h1{ 
    font-size: 15px;
    font-weight: bold;
}
/*
#content a.button{
    color: #A85F44;
    background-color: #371001;
    padding:2px 4px;
    margin:2px 4px;
    border: 1px solid #58443C;
}
#content a.button:hover   {
    color: #FEC6B1;
    background-color: #A85F44;
    border: 1px solid #FEF1ED;
}

*/



/****************************************************
 * top
 */

/*****************************************************
 * form header
 */

.formHeader {
    background-color: #404040;
    color:#ffffff;
}

.formHeader tr.formHeader{
    
}

.formHeader th.formHeader{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding: 4px 0px 4px 20px;
}

/*****************************************************
 * row
 */
/*
.rowSubForm {
    background-color: #e8e8e8;
    margin:0px 0px 10px 0px;
}
*/
/**
 * row title
 */
/*
table.rowTitle {
}

table.rowTitle tr{
    background-color: #d8d8d8;
    color:#000;
}

table.rowTitle tr th{
    background-color: #a8a8a8;
    color:#000;
    cursor: pointer;
    font-size: 13px;
}
*/
/**
 * row's row
 */
/*table.rowContent tr{
    background-color: #d0d0d0;
}
table.rowContent tr th{
    background-color: #d0d0d0;

    border-top: 1px solid #f0f0f0;
}

table.rowContent tr td{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

table.rowContent tr.even th{
    background-color: #c8c8c8;

    border-top: 1px solid #f0f0f0;
}

table.rowContent tr.even td{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
}*/


/**
 * multilang
 */
/*table.rowContent tr td table.multilang{
    background-color: #e8e8e8;
}

table.rowContent tr td table.multilang tr{
    background-color: #e4e4e4;
}
table.rowContent tr td table.multilang tr th{
    background-color: #e4e4e4;
    border-top:0px none;
}

table.rowContent tr td table.multilang tr td{
    background-color: #e8e8e8;
    border-top:0px none;

}
*/
/**
 * row's actions
 */
/*table.rowContent tr.actions{
    background-color: #e4e4e4;
}

table.rowContent tr.actions th{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

table.rowContent tr.actions td{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

table.rowContent tr.actions td .actionImage{
    background-color: #585858;
    color:#f0f0f0;
    font-weight: bold;
    border: 1px solid #f0f0f0;
}

table.rowContent tr.actions td .actionSubmit{
    background: #585858 url(../img/icons/list/template.png) repeat-x left bottom;
    color:#f0f0f0;
    font-weight: bold;
    border: 1px solid #f0f0f0;
    height:20px;
}*/



/*****************************************************
 * LIST
 */
.listSubForm {
    background-color: #e8e8e8;
    margin:0px 0px 10px 0px;
}

table.listTitle {
}

/**
 * list title
 */
.listTitle tr{
/*    background-color: #d8d8d8;*/
    color:#000;
}

.listTitle tr th{
/*    background-color: #a8a8a8;*/
    color:#000;
    font-size: 13px;
    cursor: pointer;
    text-align: left;;
    font-weight: bold;
    padding: 2px 0px 2px 40px;
}

/**
 * list filter
 */
.listContent  tr.listFilter{
    font-size: 11px;
    font-weight: normal;
    background-color: #d0d0d0;
}

.listContent tr.listFilter th {
    font-size: 11px;
    font-weight: normal;
    background-color: #d0d0d0;
}

/*filterTitle*/
.listContent  tr.listFilter th table.filterTitle{

}

.listContent  tr.listFilter th table.filterTitle tr{

}

.listContent  tr.listFilter th table.filterTitle tr td{
    font-weight: bold;
}

/*filterContent*/
.listContent tr.listFilter th table.filterContent{
    background-color: #c0c0c0;
}

.listContent tr.listFilter th table.filterContent tr{
    font-size: 11px;
    font-weight: normal;
    background-color: #c0c0c0;
}

.listContent tr.listFilter th table.filterContent tr td{
    font-size: 11px;
    font-weight: normal;
    background-color: #c0c0c0;
}

.listContent tr.listFilter th table.filterContent tr td div{
    float:left;
    display:inline;
    margin:4px 16px 4px 0px;
}

.listContent tr.listFilter th table.filterContent tr td div .actionSubmit{
    background: #585858 url(../img/icons/list/template.png) repeat-x left bottom;
    color:#f0f0f0;
    font-weight: bold;
    border: 1px solid #f0f0f0;
    height:17px;
}

/**
 * list info
 */
.listContent  tr.listInfo th .elementsCount{
    font-size: 11px;
    font-weight: normal;
}

.listContent tr.listInfo th .perPage{
    font-size: 11px;
    font-weight: normal;
}
.listContent tr.listInfo td.main{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

.listContent tr.listInfo td a{
    color:#000000;
    margin:0px 1px 0px 1px;
}

.listContent tr.listInfo td .current{
    font-weight: bold;
    font-size: 13px;
}
/**
 * list's headers
 */
.listContent tr.listHeader{
    background-color: #d0d0d0;
}

.listContent tr.listHeader th.all{
    background-color: #d0d0d0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listHeader th{
    background-color: #d0d0d0;

    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listHeader th.sort{
    background-color: #a6a6a6;
    color:#ffffff;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listHeader th a{
    color:#000;

}

.listContent tr.listHeader th.sort a{
    color:#ffffff;
    font-weight: bold;
}

.listContent tr.listHeader th.actions{
    background-color: #d0d0d0;
    border-top: 1px solid #f0f0f0;
}

/**
 * list's row
 */
.listContent tr.listRow{
    background-color: #e0e0e0;

}

.listContent tr.listRow td{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.idCheckbox{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.idCheckboxEven{
    background-color: #d8d8d8;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.rowId{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.rowIdEven{
    background-color: #d8d8d8;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.rowIdSort{
    background-color: #c8c8c8;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.rowIdSortEven{
    background-color: #c0c0c0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.text{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.textEven{
    background-color: #d8d8d8;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.textSort{
    background-color: #c8c8c8;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.listContent tr.listRow td.textSortEven{
    background-color: #c0c0c0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}



.listContent tr.listRow td.rowActions{
    background-color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
}

.listContent tr.listRow td.rowActionsEven{
    background-color: #d8d8d8;
    border-top: 1px solid #f0f0f0;
}

.listContent tr.listRow td .actionImage{
    background-color: #585858;
    color:#f0f0f0;
    border: 1px solid #f0f0f0;
    font-weight: bold;
}

.listContent tr.listPagination{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

.listContent tr.listPagination td.main{
    background-color: #e8e8e8;
    border-top: 1px solid #f0f0f0;
}

.listContent tr.listPagination td a{
    color:#000000;
    margin:0px 1px 0px 1px;
}

.listContent tr.listPagination td .current{
    font-weight: bold;
    font-size: 13px;
}

.listContent tr.listActions{
    background-color: #e8e8e8;

}

.listContent tr.listActions td{
    background-color: #e8e8e8;

}

.listContent tr.listActions td .actionImage{
    background-color: #585858;
    color:#f0f0f0;
    font-weight: bold;
    border: 1px solid #f0f0f0;
}

.listContent tr.listActions td .actionSubmit{
    background: #585858 url(../img/icons/list/template.png) repeat-x left bottom;
    color:#f0f0f0;
    font-weight: bold;
    border: 1px solid #f0f0f0;
    height:20px;
}


/*****************************************************
 * tree
 */
/*.tree {
    background-color: #e0e0e0;
}
*/
/**
 * tree title
 */
/*table.treeTitle {

} 
 
table.treeTitle tr{
    background-color: #e8e8e8;
    color:#000;
}

table.treeTitle tr th{
    background-color: #888888;
    color:#eee;
}*/

/**
 * tree tree
 */
/*.treeContent{
    background-color: #e8e8e8;
}*/







